<div class="grid__1x2 grid--medium">
    <form class="contact__form" action="#">
      <h4 class="contact--header">Same Day Quotes!</h4>
      <p class="text--center">Contact us for a fully-bespoke quotation.</p>
      <input type="text" name="name" placeholder="Your name...">
      <input type="email" name="email" placeholder="Email address...">
      <input type="tel" name="tel" placeholder="Phone No (Optional)">
      <textarea name="message" id="" cols="30" rows="10" placeholder="How can we help?"></textarea>
    <button class="button__submit">SAY HI</button>
    </form>
  <div class="contact__details">
    <h6>SAY HI</h6>
    <p class="contact--text"><strong>PHONE</strong></p>
    <a class="contact--link" href="tel:01727261005"><h3 class="contact--link">01727 261005</h3></a>
    <p class="contact--text"><strong>EMAIL</strong></p>
    <a href="mailto:team@boothsbylux.co.uk"><h3 class="contact--link" >team@boothsbylux.co.uk</h3></a>
  <p class="contact--text"><strong>LOCATION</strong></p>
  <h3 class="contact--link">27 Trinity Road, East Finchley, London, N2 8JJ</h3>
  </div>
</div>