<!-- <button id="slowmo">Slow motion <span>mode</span></button>

<div class="device">
  <div class="container">
    <button id="burger" class="open-main-nav">
      <span class="burger"></span>
      <span class="burger-text">Menu</span>
    </button>
    <nav class="main-nav" id="main-nav">
      <ul>
        <li>
          <a href="#">About me</a>
        </li>
        <li>
          <a href="#">Speaker &amp; Writer</a>
        </li>
        <li>
          <a href="#">Work</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</div> -->

<img src="/img/logo-white.png" alt="" id="mobile__logo">
            <span onclick="openNav()" id="menu__toggler">
              <svg
                    id="menu__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 64 64"
                  >
                    <g id="Layer_47" data-name="Layer 47">
                      <path
                        d="M12,20.84H32a1.5,1.5,0,0,0,0-3H12A1.5,1.5,0,0,0,12,20.84Z"
                      />
                      <path
                        d="M53.5,32A1.5,1.5,0,0,0,52,30.5H12a1.5,1.5,0,0,0,0,3H52A1.5,1.5,0,0,0,53.5,32Z"
                      />
                      <path
                        d="M52,43.16H32a1.5,1.5,0,0,0,0,3H52A1.5,1.5,0,0,0,52,43.16Z"
                      />
                    </g>
                  </svg>
                </span>