<div class="desktop__logo">
  <a href="/index.html"><img src="/img/logo-white.png"></a>
</div>
        <div class="desktop__links">
          <a class="nav__link" href="/index.html">Home</a>
          <div class="dropdown">
            <button class="dropbtn"><a class="nav__link" href="/select-your-booth">Select Your Booth <i class="arrow down"></i></a></button>
            <div class="dropdown__content">
              <a href="/photo-booth-hire" class="nav__link">Classic Photo Booth</a>
              <a href="/magic-mirror-hire" class="nav__link">Magic Mirror</a>
              <a href="/360-photo-booth-hire" class="nav__link">360 Photo Booth</a>
              <a href="/roaming-photo-booth-hire" class="nav__link">Roaming Photo Booth</a>
              <a href="/selfie-pod-hire" class="nav__link">Selfie Pod</a>
              <a href="/uplighting-hire" class="nav__link">Uplighting</a>
            </div>
          </div>
          <a class="nav__link" href="/360-photo-booth-hire">360 Photo Booth</a>
          <div class="dropdown">
            <button class="dropbtn"><a class="nav__link" href="/contact-us/">Contact Us <i class="arrow down"></i></a></button>
            <div class="dropdown__content">
              <a href="/blog" class="nav__link">Blog</a>
              <a href="/privacy-policy/" class="nav__link">Privacy Policy</a>
            </div>
          </div>
          <a class="nav__link" href="tel:+441727261005">01727 261005</a>
      </div>