<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
>&times;</a
>
<a class="nav__link mobile__link" href="/index.html">Home</a>
<div class="dropdown dropdown--mobile">
    <button class="dropbtn dropdown--mobile"><p class="nav__link mobile__link" id="select-link" href="/select-your-booth">Select Your Booth <i class="arrow down"></i></p></button>
    <div class="dropdown__content dropdown--mobile">
      <a href="/photo-booth-hire" class="nav__link">Classic Photo Booth</a>
      <a href="/magic-mirror-hire" class="nav__link">Magic Mirror</a>
      <a href="/360-photo-booth-hire" class="nav__link">360 Photo Booth</a>
      <a href="/roaming-photo-booth-hire" class="nav__link">Roaming Photo Booth</a>
      <a href="/selfie-pod-hire" class="nav__link">Selfie Pod</a>
      <a href="/uplighting-hire" class="nav__link">Uplighting</a>
    </div>
  </div>
<a class="nav__link mobile__link" href="/360-photo-booth-hire">360 Photo Booth</a>
<a href="/contact-us/" class="nav__link mobile__link">Contact Us</a>
<a href="/blog" class="nav__link mobile__link">Blog</a>
<a href="/privacy-policy/" class="nav__link mobile__link">Privacy Policy</a>

<a class="nav__link mobile__link" href="tel:+441727261005">01727 261005</a>
